
body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 28, 53);
    min-height: 100vh; /* Minimum height to cover the viewport */
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Allows child elements to be stacked vertically */
}

h1 {
    color: #ffffff;
    background-color: #2f3841;
    border: 1px solid #000000;
    width: 26%;
    font-size: 30px;      /* Adjust size as needed */
    text-align: left;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    display: flex;        /* Use flexbox */
    align-items: center;  /* Vertically center items */
}

/* Responsive design: Adjust grid for medium screens (tablets) */
@media screen and (max-width: 1024px) {
    h1 {
        width: 40%;
    }
}

.h1-image {
    margin-left: 10px;  /* Add left margin to move the image to the right */
    margin-right: 10px; /* Adjust as needed */
    height: 80px; /* Adjust height */
    image-rendering: pixelated;
}

#us-time {
    position: absolute; /* Change to 'absolute' or 'relative' */
    top: 50px; 
    right: 10px; 
    font-size: 18px !important;
    color: #ffffff; 
    background-color: #2f3841;
    border: 1px solid #000000;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
    z-index: 1000; 
}


#us-flag {
    height: 20px;
    vertical-align: middle;
    image-rendering: pixelated;
}


/* Loading screen styles */
#loading {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;
    font-size: 20px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#loading-text {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Refresh button styling */
#refresh-list {
    position: absolute; /* Keep the button fixed in the top-right corner */
    top: 10px; /* Distance from the top of the viewport */
    right: 10px; /* Distance from the right edge of the viewport */
    padding: 10px 20px;
    background-color: #2f3841;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1000;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#refresh-list:hover {
    background-color: #ffcb3d;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#category-buttons {
    margin: 0 0 20px 0; /* Add bottom margin for spacing */
    padding: 10px;
    background-color: #F0E68C;
    border: 1px solid #000000;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    width: 100%;
    box-sizing: border-box;
    height: 60px; /* Set a fixed height */
}

/* Default button style */
.category-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #2f3841;
    border: 1px solid #000000;
    color: #ffffff;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    height: 30px; /* Set a consistent height for buttons */
    box-sizing: border-box;
}

/* Style for the active (current) category button */
.active-category {
    background-color: #7FFFD4; /* Color for the active button */
    color: #fff; /* Text color for the active button */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create an outline effect */
}

.category-button:hover {
    background-color: #ffcb3d;
    color: #fff; /* Text color for the active button */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create an outline effect */
}

/* Profile image */
.rounded-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid #000000; /* Add a border with color and thickness */
}

/* Container for streamer information */
.status-container {
    display: flex;        /* Align items horizontally */
    flex-direction: column; /* Stack items vertically */
    align-items: left;  /* Center items horizontally */
    text-align: left;   /* Center text */
    gap: 5px;             /* Space between items */
}

/* Style for the status text */
.status-container span {
    color: white; /* Text color */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create an outline effect */
}

/* Status icon */
.status-icon {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    image-rendering: pixelated;
}

/* Flag container */
.lang-container {
    display: flex;        /* Align items horizontally */
    flex-direction: column; /* Stack items vertically */
}

/* Style for the flags */
.flag-img {
    margin-bottom: 50px;
    margin-left: 4px;
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
    image-rendering: pixelated;
    object-fit: contain; /* Ensure proper scaling */
}

/* Base grid setup for large screens */
#streamers-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
    gap: 10px; /* Adjust gap for spacing */
    padding: 10px;
    margin: 0 auto;
    max-height: 300px; /* Set the maximum height */
    overflow-y: visible; /* Prevent content from being cut off */
    padding-bottom: 20px; /* Add space at the bottom */
}

#streamers-container::after {
    content: "";
    display: block;
    height: 10px; /* Height of the space below the content */
    width: 100%;
}

#streamers-container .streamer {
    margin-bottom: 20px; /* Space below each streamer */
}


/* Responsive design: Adjust grid for medium screens (tablets) */
@media screen and (max-width: 1024px) {
    #streamers-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
}

/* Responsive design: Adjust grid for small screens (mobile) */
@media screen and (max-width: 600px) {
    #streamers-container {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}

/* Streamer name styling */
.streamer-name {
    font-size: 16px;      /* Adjust size as needed */
    font-weight: bold;    /* Optional: Bold text */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create an outline effect */
}

/* Streamer status styling */
.streamer-status {
    font-size: 14px; /* Adjust size as needed */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create an outline effect */
}

/* Offline status */
.offline .streamer-status {
    color: #F08080; 
}

/* Online status */
.online .streamer-status {
    color: 	#F0E68C; 
}

/* Music status */
.music .streamer-status {
    color: 	#F0E68C; 
}

/* Music status */
.chzzk .streamer-status {
    color: 	#F0E68C; 
}


/* Style for the streamer list items */
#streamers-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#streamers-container li {
    font-size: 12px; /* Adjust size as needed */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#streamer-list li {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Adjust margins and padding for better fit on small screens */
ul li {
    padding: 8px 10px; /* Reduce padding for small screens */
}

/* Online/Offline color customization */
ul li.online {
    background-color: #FF7F50; /* Red for online */
    border: 1px solid #000000; /* Add border with thickness and color */
}

/* music color customization */
ul li.music {
    background-color: #3591dc; /* Red for online */
    border: 1px solid #000000; /* Add border with thickness and color */
}

/* chzzk color customization */
ul li.chzzk {
    background-color: #00FA9A; /* Red for online */
    border: 1px solid #000000; /* Add border with thickness and color */
}

ul li.offline {
    background-color: #2f3841; /* grey for offline */
    border: 1px solid #000000; /* Add border with thickness and color */
}

/* Hover effect */
ul li:hover {
    background-color: #ffcb3d; /* Darker background on hover */
}

/* Ensure images and content scale properly on smaller screens */
ul li img.rounded-img {
    width: 28px; /* Adjust size for small screens */
    height: 28px;
}

ul li .status-container span {
    font-size: 12px; /* Reduce font size on small screens */
}


/* Ensure the flags are positioned correctly */
ul li .lang-container {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
   

ul li .lang-container img.flag-img {
    width: 20px; /* Adjust size for small screens */
    height: 20px;

}

/* Ensure UL does not get cut off */
ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    overflow: visible; /* Ensure UL content is visible */
}

/* Social media buttons container */
.social-container {
    height: 24px;
     margin-bottom: 50px;
    margin-left: 10px;
    display: flex;
    gap: 5px; /* Space between social buttons */
}

/* Social media button */
.social-btn {
    display: inline-block;
    text-decoration: none;
    position: relative; /* Needed for tooltip positioning */
}

/* Social media icon */
.social-icon {
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
    object-fit: contain; /* Ensure proper scaling */
    opacity: 0.50; /* Default opacity */
    transition: opacity 0.3s; /* Smooth transition for opacity */
    cursor: pointer; /* Pointer cursor for the icon */
    image-rendering: pixelated;
}

/* Social icon hover effect */
.social-icon:hover {
    opacity: 1; /* Full opacity on hover */
}

/* Tooltip styling */
.tooltip {
    position: absolute;
    top: -28px; /* Adjust to position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; /* Prevent line break */
    text-align: center;
}

/* Show tooltip on hover */
.social-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Pagination container */
#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* General styling for pagination buttons */
.pagination-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #7FFFD4; /* Primary button color */
    border: 1px solid #000000;
    color: white; /* Text color */
    font-size: 16px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color change on hover */
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Create an outline effect */
}

/* Hover effect */
.pagination-button:hover {
    background-color: #ffcb3d; /* Darker shade for hover */
    border: 1px solid #000000;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Create an outline effect */
}

/* Disabled state */
.pagination-button:disabled {
    background-color: #2f3841;
    border: 1px solid #000000;
    opacity: 0.50;
    cursor: default; /* Change cursor to indicate the button is not clickable */
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Create an outline effect */
}

/* Page indicator styling */
#page-indicator {
    font-size: 16px;
    margin: 0 20px;
}
